<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Chat</title>
</head>
<body>
    <p>Edit Your Chat ID : <%= chat._id %> </p>
    <p>This chat was sent from <b><%= chat.from %></b> to <b><%= chat.to %></b></p>
    <form method="post" action="/chats/<%= chat._id %>?_method=PUT">
        <textarea name="message" cols="50" rows="6"><%= chat.message %></textarea>
        <br />
        <button>Update</button>
    </form>
</body>
</html>
</body>
</html>